body {
  font-family: 'Roboto', sans-serif;
}
html,
    body,
    .jarallax {
      font-family: 'Roboto', sans-serif;
      height: 230px;
    }
    header {
      height: 70px;
    }

    @media (max-width: 740px) {
      html,
      body,
      .jarallax {
        height: 30vh;
      }
      header {
        height: 50px;
      }
    }

     @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      .jarallax {
        height: 40vh;
      }
      header {
        height: 50px;
      }
    }

    @media (min-width: 560px) and (max-width: 660px) {
      header .jarallax h5 {
        display: none !important;
      }
    }

    .page-footer {
      margin-top: 0px;
      padding-top: 0px;
    }

    .chip.chip-md {
      height: 60px;
      line-height: 60px;
      border-radius: 30px;
      }
      .chip.chip-md img {
      height: 60px;
      width: 60px;
      border-radius: 30px;
      }
      
      .chip.chip-lg {
      height: 70px;
      line-height: 70px;
      border-radius: 35px;
      }
      .chip.chip-lg img {
      height: 70px;
      width: 70px;
      border-radius: 35px;
      }